In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
print("numpy version",np.__version__)
import matplotlib as mp
print("matplotlib version",mp.__version__)
print("pandas version",pd.__version__)
import sklearn 
print("sklearn version",sklearn.__version__)

numpy version 1.21.5
matplotlib version 3.5.2
pandas version 1.4.4
sklearn version 1.0.2

In [3]:
url="https://raw.githubusercontent.com/VijaiRamesh/Data-Set/main/fraud.csv"

In [4]:
dataset=pd.read_csv(url)

In [5]:
dataset

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
3,1,PAYMENT,7817.71,53860.00,46042.29,0.00,0.00,0,0
4,1,PAYMENT,7107.77,183195.00,176087.23,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
16421,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
16422,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
16423,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
16424,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
16425,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
3,1,7817.71,53860.00,46042.29,0.00,0.00,0,0,0,0,1,0
4,1,7107.77,183195.00,176087.23,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16421,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1,0,0,0
16422,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,1
16423,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1,0,0,0
16424,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,1
16425,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1,0,0,0

In [8]:
dataset["isFraud"].value_counts()

0    8213
1    8213
Name: isFraud, dtype: int64

In [9]:
indep=dataset[["step","amount","oldbalanceOrg","newbalanceOrig","oldbalanceDest","newbalanceDest","isFlaggedFraud","type_CASH_OUT","type_DEBIT","type_PAYMENT","type_TRANSFER"]]
dep=dataset["isFraud"]

In [10]:
indep.shape

(16426, 11)

In [11]:
dep

0        0
1        0
2        0
3        0
4        0
        ..
16421    1
16422    1
16423    1
16424    1
16425    1
Name: isFraud, Length: 16426, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [13]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [14]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [16]:
print(cm)

[[2717    5]
 [   4 2750]]

In [17]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [18]:
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2722
           1       1.00      1.00      1.00      2754

    accuracy                           1.00      5476
   macro avg       1.00      1.00      1.00      5476
weighted avg       1.00      1.00      1.00      5476

In [19]:
step=int(input("step:"))
amount=float(input("amount:"))
oldbalanceOrg=float(input("oldbalanceOrg:"))
newbalanceOrig=float(input("newbalanceOrig:"))
oldbalanceDest=float(input("oldbalanceDest:"))
newbalanceDest=float(input("newbalanceDest:"))
isFlaggedFraud=int(input("isFlaggedFraud:"))
type_CASH_OUT=int(input("type_CASH_OUT:"))
type_DEBIT=int(input("type_DEBIT:"))
type_PAYMENT=int(input("type_PAYMENT:"))
type_TRANSFER=int(input("type_TRANSFER:"))

step:100
amount:290
oldbalanceOrg:89
newbalanceOrig:78
oldbalanceDest:790
newbalanceDest:780
isFlaggedFraud:289
type_CASH_OUT:298
type_DEBIT:278
type_PAYMENT:678
type_TRANSFER:89

In [21]:
Future_Prediction=classifier.predict([[step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]

C:\Users\vijai\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(