In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("resumes_development.csv")

In [3]:
df=df[['Decision Making', 'Digital Marketing', 'Editing','Logistics Management', 'Oracle Database', 'Soccer', 'Veteran','Female','Interview']]

In [4]:
df.groupby(["Interview"]).size()

Interview
0.0    400
1.0    219
dtype: int64

In [5]:
df_grouped_by = df.groupby(['Interview'])
df_balanced = df_grouped_by.apply(lambda x: x.sample(df_grouped_by.size().min()).reset_index(drop=True))
dataset = df_balanced.droplevel(['Interview'])

In [6]:
dataset.groupby(["Interview"]).size()

Interview
0.0    219
1.0    219
dtype: int64

In [7]:
dataset

,Decision Making,Digital Marketing,Editing,Logistics Management,Oracle Database,Soccer,Veteran,Female,Interview
0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0,1,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...
214,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1.0
215,1.0,0.0,0.0,1.0,1.0,0.0,0,0,1.0
216,0.0,0.0,0.0,1.0,0.0,0.0,1,1,1.0
217,1.0,0.0,0.0,0.0,0.0,0.0,1,1,1.0
218,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1.0

In [8]:
indep=dataset[['Decision Making', 'Digital Marketing', 'Editing','Logistics Management', 'Oracle Database', 'Soccer', 'Veteran','Female']]
dep=dataset['Interview']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# LogisticRegression

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
from sklearn.model_selection import GridSearchCV
param_grid = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'saga'],
             'penalty':['l2']} 
grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'penalty': ['l2'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'saga']},
             scoring='f1_weighted', verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test) 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions) 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'penalty': 'l2', 'solver': 'newton-cg'}: 0.910929596371251

In [15]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[63  7]
 [ 6 70]]

In [16]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

         0.0       0.91      0.90      0.91        70
         1.0       0.91      0.92      0.92        76

    accuracy                           0.91       146
   macro avg       0.91      0.91      0.91       146
weighted avg       0.91      0.91      0.91       146

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065631,0.084671,0.003125,0.006250,l2,newton-cg,"{'penalty': 'l2', 'solver': 'newton-cg'}",0.795907,0.862194,0.878407,0.810176,0.741148,0.817566,0.049105,1
1,0.034378,0.061242,0.003126,0.006252,l2,lbfgs,"{'penalty': 'l2', 'solver': 'lbfgs'}",0.795907,0.862194,0.878407,0.810176,0.741148,0.817566,0.049105,1
2,0.012500,0.024999,0.006251,0.007656,l2,liblinear,"{'penalty': 'l2', 'solver': 'liblinear'}",0.795907,0.862194,0.878407,0.810176,0.741148,0.817566,0.049105,1
3,0.021877,0.012501,0.000000,0.000000,l2,saga,"{'penalty': 'l2', 'solver': 'saga'}",0.795907,0.862194,0.878407,0.810176,0.741148,0.817566,0.049105,1

In [19]:
Decision_Making=float(input("Decision_Making:"))
Digital_Marketing=float(input("Digital_Marketing:"))
Editing=float(input("Editing:"))
Logistics_Management=float(input("Logistics_Management:"))
Oracle_Database=float(input("Oracle_Database:"))
Soccer=float(input("Soccer:"))
Veteran=float(input("Veteran:"))
Female=float(input("Female:"))

Decision_Making:0
Digital_Marketing:0
Editing:0
Logistics_Management:0
Oracle_Database:0
Soccer:0
Veteran:0
Female:0

In [20]:
Future_Prediction=grid.predict([[Decision_Making, Digital_Marketing, Editing, Logistics_Management, Oracle_Database, Soccer, Veteran, Female]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[0.]